@import "tailwindcss";

@theme inline {
  --font-sansita: var(--font-sansita);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --color-accent: #e9bd8c;
  --color-primary: #f5f5f5;
  --color-secondary: #111111;
  --color-btn: #933c24;
}
